@font-face{
    font-family: Livingstone;
    src: url(../FONTS/Livingstone/1.\ OTF/Livingstone.otf);
}

body{
    opacity: 1;
    transition: 2.2s opacity;
    background: url(../IMAGES/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.logo{
    height: 70px;
    filter: drop-shadow(0px 0px 10px yellow);
    transition: .5s ease;
    float: left;
}

.logo:hover{
    filter: drop-shadow(0px 0px 20px white);
    transition: .5s ease;
}

#nav_propio ul li a:hover{
    color: yellow;
    transition: .2s ease;
    filter: drop-shadow(0px 0px 10px yellow);
}

#nav_propio{
    background-image: url(../IMAGES/nav.jpg);
}

#nav_propio ul li a{
    font-size: 25px;
    color: white;
    font-family: Livingstone;
    text-decoration: none;
    text-shadow: 3px 3px 5px black;
    transition: .2s ease;
}

#brand_propio{
    font-size: 35px;
    color: white;
    font-family: Livingstone;
    text-shadow: 3px 3px black;
    transition: .5s ease;
    user-select: none;
}

#brand_propio:hover{
    font-size: 35px;
    color: white;
    font-family: Livingstone;
    text-shadow: 0px 0px 20px yellow;
    transition: .5s ease;
}

#boton_claro{
    background-color: white;
    box-shadow: 0px 0px 5px black;
    transition: .2s ease;
}

#boton_claro:hover{
    background-color: white;
    box-shadow: 0px 0px 5px yellow;
    transition: .2s ease;
}

#social{
    display: flex;
    justify-content: space-around;
    height: 20px;
    background-color: black;
}

.datos{
    color: rgb(181, 181, 181);
}

.datos img{
    height:15px;
    margin-right: 5px;
    filter: grayscale(100%);
}

footer{
    display: flex;
    bottom: 0;
    width: 100%;
    color: rgb(181, 181, 181);
    background-color: rgb(16, 16, 16);
    font-size: 65%;
}

header{
    padding-bottom: 86px;
}

.featurette{
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.664);
    justify-content: space-between;

}

.autores{
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.664);
}

.trago{
    width: 100%;
    height: auto;
}
